@font-face {
  font-family: Golos;
  src: url('../fonts/Golos-Text/Golos-Text_Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Golos, Arial, sans-serif;
  background-color: #f6f8f9;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background-color: #f6f8f9;
}

.card {
  width: 600px;
  margin-bottom: 0;
}

.hole-game {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.status {
  margin-bottom: 20px;
}

.hole {
  width: 150px;
  height: 150px;
  margin: 0 15px 30px;
  background: gray;
  border-radius: 50%;
}

.hole_has-mole {
  background-image: url(https://i.postimg.cc/rmtGV8h9/mole.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}

.mole_hit {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}